<%- include("navbar.ejs")%>
<style>
    .heading {
        background-image: linear-gradient(45deg, #44CE42 70%, #f34040 30%);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: white;
    }
</style>

<form action="/admin/update_why_we_are_best_choice" method="post" enctype="multipart/form-data">
    <div class="container p-5 bg-white">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark heading">Edit Why We Are Best Choice</h1>
            </div>
            <input type="hidden" name="why_we_are_best_choice_id" value="<%=edit_why_we_are_best_choice[0].why_we_are_best_choice_id%>">
            <div class="col-md-4">
                <label for="">Title 1</label>
                <input type="text" name="why_we_best_choice_title1" class="form-control border-dark" value="<%=edit_why_we_are_best_choice[0].why_we_best_choice_title1%>">
            </div>
            <div class="col-md-4">
                <label for="">Title 2</label>
                <input type="text" name="why_we_best_choice_title2" class="form-control border-dark" value="<%=edit_why_we_are_best_choice[0].why_we_best_choice_title2%>">
            </div>
            <div class="col-md-4">
                <label for="">Description</label>
                <input type="text" name="why_we_best_choice_desc" class="form-control border-dark" value="<%=edit_why_we_are_best_choice[0].why_we_best_choice_desc%>">
            </div>
            <div class="col-md-2">
                <label for="">Feature 1</label>
                <input type="text" name="why_we_best_choice_feature1" class="form-control border-dark" value="<%=edit_why_we_are_best_choice[0].why_we_best_choice_feature1%>">
            </div>
            <div class="col-md-2">
                <label for="">Feature 2</label>
                <input type="text" name="why_we_best_choice_feature2" class="form-control border-dark" value="<%=edit_why_we_are_best_choice[0].why_we_best_choice_feature2%>">
            </div>
            <div class="col-md-2">
                <label for="">Feature 3</label>
                <input type="text" name="why_we_best_choice_feature3" class="form-control border-dark" value="<%=edit_why_we_are_best_choice[0].why_we_best_choice_feature3%>">
            </div>
            <div class="col-md-2">
                <label for="">Feature 4</label>
                <input type="text" name="why_we_best_choice_feature4" class="form-control border-dark" value="<%=edit_why_we_are_best_choice[0].why_we_best_choice_feature4%>">
            </div>
            <div class="col-md-2">
                <label for="">Feature 5</label>
                <input type="text" name="why_we_best_choice_feature5" class="form-control border-dark" value="<%=edit_why_we_are_best_choice[0].why_we_best_choice_feature5%>">
            </div>
            <div class="col-md-2">
                <label for="">Image</label>
                <input type="file" name="why_we_best_choice_image" class="form-control border-dark">
                <img src="/encoded_img/<%=edit_why_we_are_best_choice[0].why_we_best_choice_image%>" alt="" class="img-fluid w-50 h-50">
            </div>
            <div class="col-md-12 text-center mt-5">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>