<%- include("navbar.ejs")%>
<style>
    .heading {
        background-image: linear-gradient(45deg, #44CE42 70%, #f34040 30%);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: white;
    }
</style>
<form action="/admin/update_what_we_do" enctype="multipart/form-data" method="post">
    <div class="container bg-white p-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-weight-bold text-dark heading">Edit Services</h1>
            </div>
            <input type="hidden" name="what_we_do_id" value="<%=edit_what_we_do[0].what_we_do_id%>">
            <div class="col-md-4">
                <label for="">Title</label>
                <input type="text" name="what_we_do_title" class="form-control border border-dark" value="<%=edit_what_we_do[0].what_we_do_title%>">
            </div>
            <div class="col-md-4">
                <label for="">Description</label>
                <input type="text" name="what_we_do_desc" class="form-control border border-dark" value="<%=edit_what_we_do[0].what_we_do_desc%>">
            </div>
            <div class="col-md-4">
                <label for="">Image</label>
                <input type="file" name="what_we_do_image" class="form-control border border-dark">
                <img src="/encoded_img/<%=edit_what_we_do[0].what_we_do_image%>" alt="" class="img-fluid w-50 h-50">
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" style="margin-top: 30px;">Submit</button>
            </div>
        </div>
    </div>
</form>

<%- include("footer.ejs")%>