
<%- include("navbar.ejs")%>
<style>
    .heading {
        background-image: linear-gradient(45deg, #44CE42 70%, #f34040 30%);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: white;
    }
</style>

<form action="/admin/save_slider_images" enctype="multipart/form-data" method="post">
    <div class="container bg-white p-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="font-weight-bold text-white heading">Add Slider Images</h2>
            </div>
            <div class="col-md-6">
                <label for="">Image</label>
                <input type="file" name="slider_image" class="form-control border border-dark">
            </div>
            <div class="col-md-6 text-center">
                <button class="btn btn-primary" style="margin-top: 30px;">Submit</button>
            </div>
        </div>
    </div>
</form>

<div class="container mt-5 p-5 bg-white">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">Slider Images Table</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th></th>
                        <th>SN</th>
                        <th>Slider Image</th>
                    </tr>
                    <% for(var i=0;i<slider_data.length;i++){%>
                        <tr>
                            <td>
                                <a href="/admin/edit_slider_image/<%=slider_data[i].slider_image_id%>">
                                    <button class="btn btn-success"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                </a>
                                <a href="/admin/delete_slider_image/<%=slider_data[i].slider_image_id%>">
                                    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </a>
                            </td>
                            <td><%=i+1%></td>
                            <td>
                                <img src="/encoded_img/<%=slider_data[i].slider_image%>" alt="" class="img-fluid w-25 h-25 rounded-0">
                            </td>
                        </tr>
                        <%}%>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include("footer.ejs")%>