<%- include("navbar.ejs")%>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 p-0">
            <h2 class="alert alert-success font-weight-bold p-4 text-center">Egg Cury Masala</h2>
        </div>
    </div>
</div>
<% for(var i=0;i<egg_cury.length;i++){%>
  <div class="container">
      <div class="row">
          <div class="col-md-12 mt-4 border shadow p-0 mb-4">
              <img src="/images/<%=egg_cury[i].banner_img%>" class="w-100 pl-4 pt-4 pr-4 pb-2"
                  style="height: auto;">
          </div>
      </div>
  </div>
  <%}%>

  <% for(var i=0;i<egg_cury.length;i++){%>
  <section>
    <div class="container mb-5">
      <div class="row">
        <div class="col-md-4 col-lg-3">
          <img
            src="/images/<%=egg_cury[i].img1%>"
            class="w-100 mt-5 h-100"
          />
        </div>
        <div class="col-md-8 col-lg-8 mt-5">
          <h3 class="text-danger"><%=egg_cury[i].heading1%></h3>
          <p class="font-weight-bold mt-3">
            <%=egg_cury[i].description1%>
          </p>

          <h3 class="text-danger font-weight-bold mt-2">
            <%=egg_cury[i].heading2%>
          </h3>
          <% for(var i=0;i<specificationdata.length;i++){%>
            <p class="font-weight-bold mt-3"><%=specificationdata[i].specification%></p>
    <%}%>
  <% for(var i=0;i<egg_cury.length;i++){%>
    <h3 class="text-danger font-weight-bold mt-4 mb-4"><%=egg_cury[i].heading4%></h3>
    <%}%>
    <div class=" d-flex">
        <% for(var i=0;i<quantitydata.length;i++){%>
            <span class="ml-4 font-weight-bold">
                <%=quantitydata[i].quantity%>
            </span>
            <%}%>
    </div>
  <% for(var i=0;i<egg_cury.length;i++){%>
          <h4 class="text-danger font-weight-bold mt-4"><%=egg_cury[i].heading5%>
          </h4>

          <img src="/images/<%=egg_cury[i].img2%>" class="w-100 mt-4"
              style="height: 300px;">
              <%}%>
        </div>
      </div>
    </div>
  </section>
  <%}%>


<%- include("footer.ejs")%>