<%- include("../navbar.ejs")%>
<style>
    .heading {
        background-image: linear-gradient(45deg, #44CE42 70%, #f34040 30%);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: white;
    }
</style>

    <form action="/admin/save_gallary" method="post" enctype="multipart/form-data">
        <div class="container p-5 bg-white shadow">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-white heading font-weight-bold">Add Gallary</h2>
                </div>
                <div class="col-md-6">
                    Enter Description
                    <input type="text" name="gallary_desc" required class="form-control border-dark">
                </div>
                <div class="col-md-6">
                    Enter Image
                    <input type="file" name="gallary_image" required class="form-control border-dark">
                </div>
                <div class="col-md-12 text-center mt-5">
                    <button class="btn btn-primary">Save Gallay Image</button>
                </div>
            </div>
        </div>
    </form>

    <div class="container mt-4 p-5 shadow bg-white">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-white heading">Product List</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>SN</th>
                            <th>Product Description</th>
                            <th>Product Image</th>
                        </tr>
                        <% for(var i = 0 ; i<gallary_images.length;i++) { %>
                        <tr>
                            <td>
                                <a href="/admin/edit_slider/<%= gallary_images[i].gallary_imgs_id %>"><button class="btn btn-success"><i class="fa fa-pencil p-1"></i></button></a>
                                <a href="/admin/delete_slider/<%= gallary_images[i].gallary_imgs_id %>"><button onclick="return confirm('are you sure')" class="btn btn-danger"><i class="fa fa-trash p-1"></i></button></a>
                            </td>
                            <td><%= i+1 %></td>
                            <td><%= gallary_images[i].gallary_desc %></td>
                            <td class="p-1">  
                                <img style="border-radius: 0%; object-fit: cover; height: 90px; background-size: cover;" src="/encoded_img/<%=gallary_images[i].gallary_image %>" class="w-100">
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <form action="/admin/save_gallary_iframe_videos" method="post" enctype="multipart/form-data">
        <div class="container p-5 bg-white shadow mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="font-weight-bold text-white heading">Youtube Video</h2>
                </div>
                <div class="col-md-6">
                    Enter Video Link
                    <input type="text" name="gallary_video_link" required class="form-control border-dark">
                </div>
                <div class="col-md-6">
                    Enter Video Description
                    <input type="text" name="gallary_video_desc" required class="form-control border-dark">
                </div>
                <div class="col-md-12 text-center mt-4 mb-4">
                    <button class="btn btn-primary">Save Video</button>
                </div>
            </div>
        </div>
    </form>

    
    <div class="container mt-4 p-5 shadow bg-white">
        <div class="row">
            <div class="col-md-12 mb-4 ">
                <h2 class="text-white heading">Youtube Video List</h2>
            </div>
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th></th>
                        <th>SN</th>
                        <th>Video Description</th>
                    </tr>
                    <% for(var i = 0 ; i<gallary_yt_videos.length;i++) { %>
                    <tr>
                        <td>
                            <a href="/admin/edit_yt_Video/<%= gallary_yt_videos[i].gallary_iframe_videos_id  %>"><button class="btn btn-success"><i class="fa fa-pencil"></i></button></a>
                            <a href="/admin/delete_yt_Video/<%= gallary_yt_videos[i].gallary_iframe_videos_id  %>"><button onclick="return confirm('are you sure')" class="btn btn-danger"><i class="fa fa-trash "></i></button></a>
                        </td>
                        <td>
                            <%= i+1 %>
                        </td>
                        <td>
                            <%= gallary_yt_videos[i].gallary_video_desc %>
                        </td>
                        
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

    <%- include("../footer.ejs")%>

   
