<%- include("../../navbar.ejs")%>
<style>
    .heading {
        background-image: linear-gradient(45deg, #44CE42 70%, #f34040 30%);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: white;
    }
</style>
<div class="container-fluid p-5 bg-white">
    <div class="row">
        <div class="col-md-12">
            <form action="./save_description" enctype="multipart/form-data" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="heading">Add Description</h2>
                        </div>
                        <div class="col-md-12">
                            Description
                            <input type="text" name="description" class="form-control border-dark">
                        </div>
                        <div class="col-md-12 mt-5 text-center">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5 bg-white p-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">Description Table</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>ACTION</th>
                        <th>SR.NO</th>
                        <th>Description</th>
                    </tr>
                    <% description.forEach((val,i)=>{%>

                        <tr class="text-black">
                            <td>
                                <a href="/admin/products/Description/edit_description/<%=val.description_id %>">
                                    <button class="btn btn-success">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </a>
                                <a href="/admin/products/Description/delete_description/<%=val.description_id %>">
                                    <button onclick="return confirm('are you sure')" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <%= i+1%>
                            </td>
                            <td>
                                <%=val.description%>
                            </td>
                        </tr>
                        <%}) %>
                   
                </table>
            </div>
        </div>
    </div>
</div>

<%- include("../../footer.ejs")%>